body{
    background: url("img/moviephostor.jpg");
    padding: 0px;
    margin: 0px;
    color: black;

}
.container{
    /* border: 2px solid black; */
    display: inline;
    background-color: black;
}
.box1{
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    left: 33px;
}
.box1 img{
    width: 65px;
    padding: 0px 10px;
    filter: invert(100%);
}
.box1 div{
    text-align: center;
    color: white;
    font-size: 25px;
}
.box2{
    /* border: 2px solid red; */
    display: block;
    margin: 31px auto;
    width: 37%; 
}
/* .list{
   display: inline-block;
} */
.list li{
    display: inline-block;
    font-size: 34px;
}
.list li a{
    text-decoration: none;
    color:white ;
    padding: 6px 6px;

}
.list li a:hover{
    color: brown;
}
.box3{
    /* border: 2px solid red; */
    position: absolute;
    right: 33px;
    top: 33px;
}
.btn{
    color: white;
    margin: 0px 13px;
    padding: 13px 12px;
    font-size: 19px;
    cursor: pointer;
    border: 2px solid red;
    border-radius: 104px;
    background-color: black;
}
.btn:hover{
    color: brown;
}
.info{
    border: 2px solid red;
    padding: 84px;
    margin: 124px 122px;
    border-radius: 38px;
    width: 33%;
    color: black;
    font: bold;
    background: url('img/images.jpg');
    background-size: 671px 685px;
    /* background: no-repeat; */

}
.info h1{
    text-align: center;
    color: white;
    padding: 14px;  
    /* margin: -34px auto; */
}
.form input{
    text-align: center;
    display: block;
    width: 500px;
    padding: 1px;
    border: 2px solid rgb(255, 255, 255);
    margin: 11px auto;
    font-size: 25px;
    border-radius: 104px;
}
.info button{
    display: block;
    width: 101%;
    margin: 7px 2px;
    padding: 14px;
}
.form textarea{
    margin: 11px auto ;
}
.pic{
    background: url("img/moviephostor.jpg");
    margin: 4px 4px;
}